main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    margin: 0 10rem;
}

h1 {
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.color-preview {
    background: #8e7e7e;
    width: 100%;
    border: var(--border-small);
}

.colour-controls {
    flex-direction: column;
    grid-area: 2 / 1 / 2 / 3;
    gap: 1rem;
}

.color-value {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type=color] {
    width: 100%;
    border: var(--border-small);
    background: none;
}